
<style>
    .new-section {
        border-radius: 20%;
        height: 50px;
        width: 200px;
        margin-bottom: 5px;
        margin-top: 10px;
        padding: 7px;
        text-align: center;
        text-decoration: none;
        font-style: inherit;
        font-size: 14px;
        font-family: Prata, sans-serif;
        display: inline-grid;
        box-shadow: 1px 1px 1px navajowhite;
        text-decoration-line: none;
    }
</style>
<style>
    .action-link {
        color: black;
        text-decoration-line: none;
    }

        .action-link:hover {
            color: lightcoral;
            text-decoration-line: none;
        }
</style>








@model IEnumerable<Catalog>


<div class="text-center" style="background-size:cover;">



    <br />

    @foreach (var c in Model)
    {
        <div class="new-section" style="text-decoration:none;">

            <b> @Html.ActionLink(c.Value, "List", "Books", new { idCategory = c.Id } , new {@class="action-link"}) </b>


        </div>

    }


</div>

