

@model IEnumerable<Catalog>

<link rel="stylesheet" href="~/css/Categories.css" />


<div class="text-center" style="background-size:cover;">



    <br />

    @foreach (var c in Model)
    {
        <div class="new-section" style="text-decoration:none;">

            <b> @Html.ActionLink(c.Value, "List", "Books", new { idCategory = c.Id } , new {@class="action-link"}) </b>


        </div>

    }


</div>

