
<style>
    .new-section {
        border-radius: 20%;
        height: 50px;
        width: 200px;
        margin-bottom: 5px;
        margin-top: 10px;
        padding: 7px;
        text-align: center;
       text-decoration: none;
       font-style:inherit;
       font-size: 14px;
      font-family:Prata, sans-serif;
        display: inline-grid;
        box-shadow: 1px 1px 1px navajowhite;
        text-decoration-line:none;
        
    }
   
</style>
<style>
    .action-link
    {
    color:black;
    text-decoration-line:none;
    }
    .action-link:hover
    {
    color:lightcoral;
    text-decoration-line:none;
    }
</style>





@model IEnumerable<Catalog>


<div class="text-center" style="background-size">



    <br />

    @foreach (var c in Model)
    {
        <div class="new-section" style="text-decoration:none">

            <b> @Html.ActionLink(c.Value, "List", "Books", new { idCategory = c.Id } , new {@class="action-link"}) </b>


        </div>

    }


</div>

@*
     <div class="list">
            <div class="item">
            <div class="top">
            <img src="images/nocover.png">
            <div class="info">
            <h1 class="title">Хроники Амбера</h1>
            <h2 class="author">Роджер Желязный</h2>
            <h3 class="genre">Фантастика, Фентези</h3>
            <div class="condition">
            <strong class="price">$100.00</strong><img class="true" alt="ready for change" src="images/icons/change.svg">
            </div>

            </div>
            </div>
            <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aperiam
            cumque ducimus ea enim explicabo ipsam officiis, placeat quae quod quos tempora veniam,
            veritatis,
            vitae. Deserunt dolore, dolores fuga fugiat magnam minus officiis. Ab consectetur dolores,
            ducimus
            eos harum incidunt ipsa laudantium magnam nam possimus sequi tenetur voluptates, voluptatum!
            </p>
            <a href="book.html#1" title="Read more about book" target="_self">Подробнее...</a>
            </div>
            <div class="item">
            <div class="top">
            <img src="images/nocover.png">
            <div class="info">
            <h1 class="title">Хроники Амбера</h1>
            <h2 class="author">Роджер Желязный</h2>
            <h3 class="genre">Фантастика, Фентези</h3>
            <div class="condition">
            <strong class="price">$100.00</strong><img class="false" alt="ready for change" src="images/icons/change.svg">
            </div>
            </div>
            </div>
            <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aperiam
            cumque ducimus ea enim explicabo ipsam officiis, placeat quae quod quos tempora veniam,
            veritatis,
            vitae. Deserunt dolore, dolores fuga fugiat magnam minus officiis. Ab consectetur dolores,
            ducimus
            eos harum incidunt ipsa laudantium magnam nam possimus sequi tenetur voluptates, voluptatum!
            </p>
            <a href="book.html#2" title="Read more about book" target="_self">Подробнее...</a>
            </div>
            </div>
            <div class="pagination">
            <div class="left">
            &lt;
            </div>
            <div class="page">
            <label>
            <select name="page">
            <option value="1">1</option>
            <option value="2" selected="">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            </select>
            </label>
            </div>
            <div class="right">
            &gt;
            </div>
            </div>
*@