
<link rel="stylesheet" href="~/css/Contacts.css"></link>

<article id="about">
    <p>
        
        <br/>
        Мы создали Swap Book с одной целью — объединить любителей книг и создать сообщество, где каждый может поделиться своими книжными сокровищами с другими.
        В современном мире, где электронные устройства часто занимают все наше внимание, мы хотим вернуть людям радость от чтения настоящих книг,
        перелистывания страниц и ощущения бумажной книги в руках.
    </p>

    <p>
        Мы искренне надеемся, что вы найдете здесь книги, которые вам понравятся, и встретите людей, с которыми будет приятно общаться.
        Пусть каждый обмен будет для вас маленьким приключением и приятным опытом.
    </p>
    
    <p>
        Если у вас есть вопросы, предложения или пожелания, пожалуйста, свяжитесь с нами. 
        Мы всегда будем стараться сделать SB еще лучше для вас.
    </p>
    <h3>Контактная информация:</h3>
    <div class="contacts-about">
        <ul>
            <li>
                <b>Электронная почта:</b> <span>&nbsp;</span>
                <a href="mailto:tatevikbaghdasaryan@yandex.com">tatevikbaghdasaryan@yandex.com</a>
            </li>
            <span>&nbsp;</span>
            <li>
                <b>Телефон:</b>
                <span>&nbsp;</span>
                <a href="tel:+37443500900">+37443-500-900</a>
                <span>&nbsp;</span>
                <a href="tel:+37443500900">+37498-344-051</a>
            </li>
            <span>&nbsp;</span>
            <li>
                <b>Адрес:</b>
                <span>&nbsp;</span>
                <a href="https://www.google.com/maps/place/%D4%B1%D5%B2%D5%A2%D5%B5%D5%B8%D6%82%D6%80+%D5%BD%D5%A5%D6%80%D5%B8%D5%A2/@@40.1980044,44.5030451,17z/data=!4m15!1m8!3m7!1s0x406abd3ddf9bfa77:0x4c6a0932178d161f!2s11+Aghbyur+Serob+St,+Yerevan+0019!3b1!8m2!3d40.1980003!4d44.50562!16s%2Fg%2F1v6qg33m!3m5!1s0x406abdcbef0509a5:0x158adc7730b5c3b3!8m2!3d40.1970357!4d44.5034709!16s%2Fg%2F11tn8m0bjd?entry=ttu" target="_self">ул. Агхбюр Сероб 11</a>
                <b></b>
            </li>
        </ul>
    </div>
   
   
    <p>
        Спасибо, что вы с нами!
    </p>
        
</article>

<div class="contacts" >
    <a href="https://www.facebook.com/" target="_blank"><img  alt="facebook icon" src="~/images/icons/facebook.svg"></a>
    <a href="https://www.instagram.com/" target="_blank"><img alt="instagram icon" src="~/images/icons/instagram.svg"></a>
    <a href="https://web.telegram.org/k/" target="_blank"><img alt="telegram icon" src="~/images/icons/telegram.svg"></a>
</div>
