@using SBWV.Models.ViewModels

@model BookVM



<style>
    .new-section {
        border-radius: 25px;
        height: 100%;
        width: 300px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 20px;
        text-align: left;
        background: #FFF4A3;
    }
</style>

<h2>Редактировать</h2>



<form asp-action="edit" asp-controller="Books" asp-route-id="@Model.Id">

    <p>
        <label asp-for="Title">Название</label><br />
        <input type="text" asp-for="Title" />
    </p>
    <p>
        <label asp-for="Author">Автор</label><br />
        <input type="text" asp-for="Author"></input>
    </p>
    <p>
        <label asp-for="Price">Цена</label><br />
        <input type="number" asp-for="Price"></input>
    </p>
    <p>
        <label asp-for="Swap">Обмен</label><br />
        <input type="checkbox" asp-for="Swap"></input>
    </p>
    <p>
        @Html.DropDownListFor(m => m.Category, @ViewBag.Categories as List<SelectListItem>)
        <br />

    </p>
    <p>
        <label asp-for="Info">Информация</label><br />
        <input type="text" asp-for="Info" />
    </p>
    <p>

        <label asp-for="EditPhoto">Фотографии</label><br />
        <input class="inputfile-1" type="file" asp-for="EditPhoto" />



        @if (Model.Src != null)
        {
            @foreach (var i in Model.Src)
            {
                <img src="@i" alt="Photo" class="responsive-image" />
                <style>
                    .responsive-image {
                        width: 22%;
                        height: auto;
                        max-width: 600px;
                        display: block;
                        margin: 0 auto;
                    }
                </style>
            }
            <br />
        }


    </p>
    <p>

        <input type="submit" value="Сохранить" formmethod="post"></input>
    </p>

</form>

<br />





