 @model SBWV.Models.Login

 <link rel="stylesheet" href="~/css/Login.css" />

 <div style="align-content:center; text-align:center;">
     @TempData["Message"]   
 </div>

 <div class="login"id="contact_form">

    @using (@Html.BeginForm("Login", "Account"))
    {
        @Html.EditorForModel()
        ;
        <br />
        <div class="item" style="text-align:center">
            <div class="file-input-container">
                <label class="file-input-label" for="login">Войти</label>
                <input id="login" class="file-input" type="submit" />
            </div>

        </div>
        
    }

</div>






