<style>
    .error   {
        background-image: url('../images/error.png');
        background-size:contain; /* Масштабирует изображение, чтобы оно покрывало весь элемент */
        background-position: center; /* Центрирует изображение */
        background-repeat: no-repeat; /* Изображение не будет повторяться */
        background-blend-mode:difference;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
       
    }
</style>

<h1 id="about" style="text-align:center;"> :( Извините, что-то сломалось.</h1>

<div class="error">
    
    <h4>...</h4>

</div>
