@using SBWV.Controllers
@model SBWV.Models.ViewModels.SearchFilter

<label>
    по автору:@{
        SwapBookDbContext swapBookDbContext = new SwapBookDbContext();
        var authors = swapBookDbContext.Books.Select(x => new SelectListItem
            {
                Value = x.Author,
                Text = x.Author,

            }).Distinct().ToList();

    }
    @Html.DropDownListFor(mbox => mbox.Author, authors as IEnumerable<SelectListItem>)
</label>

<span>&nbsp;</span>@Html.ActionLink("Поиск", "Search" , "DropCategoryController", new {author = Model.Author})
