@using SBWV.Controllers
@using Microsoft.AspNetCore.Mvc.Rendering
@using X.PagedList.Mvc.Core


<link rel="stylesheet" href="~/css/Search.css"> 




<input type="text" id="input" name="input" value="@ViewBag.input" />
<span>&nbsp;</span>
<button class="button" title="Поиск" type="button" onclick="window.location.href='/Home/Index?input=' + document.getElementById('input').value + '&page=1'">Поиск</button>





