@using SBWV.Controllers
@using Microsoft.AspNetCore.Mvc.Rendering





<button  title="Поиск" type="button" onclick="window.location.href='/DropCategory/Search?input=' + document.getElementById('input').value"></button>
<input type="text" id="input" name="input"></input>




